:root {
  --editor-font-size: 1rem;
  --editor-line-height: 1.5rem;
  --editor-font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
}

.p-button {
  justify-content: center;
  background: red;
  border-radius: 0;
  border-color: red;
  padding-block: 5px;
}
