name: 'Tests with coverage'
on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write

    steps:
      - uses: actions/checkout@v3
      - name: 'Install Node'
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: 'Install Deps'
        run: npm ci
      - name: 'Make Sure It Builds'
        run: npm run build
      - name: 'Run Tests'
        run: npm run test:unit:coverage
      - name: 'Report Coverage'
        if: always() # Also generate the report if tests are failing
        uses: davelosert/vitest-coverage-report-action@v2
